/* .container-fluid{
  padding: 0% 5% 0%;
} */
.top{
  /* margin : 20px; */
  color: #1b064c;
}
.navbar-inverse{
  background-color: #1b064c;
}
.navbar-brand{
  margin: 20px;
  margin-left: 30px;
  font-size: 35px;
  font-family: 'Secular One', sans-serif;
}
.btn-outline-success{
  margin-right: 30px;
}

body{
  background-color: #1b064c;
}
.section1{
  background-color: #1b064c;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}
.heading{
  font-size: 4.5rem;
  color: white;
  font-weight: bold;
}
.section1_text{
  color: #CEE5D0;
  text-align: center;
  width: 41%;
}
/* .nav_btn{
  border-radius: 10%;
} */
.nav_btn{
  margin-right: 40px;
  border-radius: 1px;
}
.section1_btn {
  background: #ffff;
  background-image: -webkit-linear-gradient(top, #ffff, #ffff);
  background-image: -moz-linear-gradient(top, #ffff, #ffff);
  background-image: -ms-linear-gradient(top, #ffff, #ffff);
  background-image: -o-linear-gradient(top, #ffff, #ffff);
  background-image: linear-gradient(to bottom, #ffff, #ffff);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 7px;
  font-family: Arial;
  color: #000;
  color: black;
  font-size: 19px;
  padding: 10px 50px 10px 50px;
  border: solid #000 1px;
  text-decoration: none;
}

/* .section1_btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
} */

.section2{
  background-color: white;
  padding: 110px 0 110px 0;
}
.section2_text{
  margin-right: 90px;
}

.section3{
  background-color: #F1EEE9;
  padding: 110px 0 110px 0;
}
.section3_text{
  margin-right: 90px;
}
.text_heading{
  font-weight: bold;
}
.text{
  font-size: 1.1rem;
}

.section4{
  background-color: white;
  padding: 110px 0 110px 0;
}
.section4_content{
  margin-left: 90px;
  font-size: 1.1rem;
  font-weight: bold;
}
.section4_links{
  cursor: pointer;
}
.section5{
  background-color: #F1EEE9;
  padding: 110px 0 110px 0;
  text-align: center;
}
.end_heading{
  font-weight: bold;
  font-size: 2.5rem;
  cursor: pointer;
}
.section6{
  background-color: #1b064c;
  padding: 110px 0 110px 0;
}
.footer_heading{
  margin-left: 80px;
  cursor: pointer;
  color: #fff;
}
